body {
  font-family: sans-serif;
  max-width: 900px;
  margin: auto;
  color: #444;
}

* {
  box-sizing: border-box;
}

main,
aside {
  padding: 0 1em 1em;
  clear: both;
}

p,
li {
  line-height: 1.5;
}

a:link {
  color: rgb(48, 132, 189);
  word-wrap: break-word;
}

h1 {
  clear: both;
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 3em;
}


/* Menu de l'entête */

#title {
  display: block;
  margin: 10px 45px 10px 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: 1.8em;
}

#title:hover {
  text-decoration: underline;
}


/* Liens réseaux sociaux */

#social-links {
  float: left;
  clear: both;
}

#social-links img {
  height: 25px;
  width: 25px;
  margin: 0px 10px 20px;
}

@media (min-width: 1000px) {
  #social-links {
    float: right;
    clear: initial;
    margin-top: 10px;
  }
}


/* Navigation */

nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
}

nav {
  font-size: 1.1em;
  max-height: 35px;
  width: 40px;
  right: 0;
  top: 0;
  padding: 5px;
  position: fixed;
  overflow: hidden;
  min-width: 0px;
  transition: width .5s, background-color .5s, max-height .1s, padding .2s;
  clear: both;
}

nav #nav-title {
  text-align: center;
  pointer-events: none;
  font-size: 1.4em;
}

nav #hamburger {
  height: 35px;
  float: right;
  margin-bottom: 10px;
}

nav:hover #hamburger {
  display: none;
}

nav:hover {
  width: 220px;
  max-height: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
}

nav:hover a:link {
  display: block;
  color: white;
}

.nav-elt {
  line-height: 0px;
  display: block;
  padding: 24px 8px;
  height: 50px;
}

.dropdown .dropdown-child>a {
  padding: 1em 0.5em;
  display: block;
}

.dropdown-child {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  transition: max-height .3s, opacity .3s;
  max-height: 0;
  opacity: 0;
  position: fixed;
  margin-top: -50px;
  right: 220px;
}

.dropdown:hover .dropdown-child {
  pointer-events: auto;
  max-height: 1000px;
  opacity: 1;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


/* Mode bureau de la navigation */

@media (min-width: 1000px) {
  nav #nav-title,
  nav #hamburger {
    display: none;
  }
  nav a.nav-elt:link,
  nav a.nav-elt:visited {
    color: black;
  }
  nav>div:hover a.nav-elt:link,
  nav>div:hover a.nav-elt:visited {
    color: white;
  }
  nav {
    max-height: none;
    width: auto;
    position: static;
    padding: 0;
  }
  nav:hover {
    width: auto;
    background-color: transparent;
  }
  nav>div {
    float: left;
  }
  .dropdown-child {
    position: absolute;
    margin-top: 0;
    right: initial;
    z-index: 100;
  }
  .nav-elt:hover,
  .dropdown:hover,
  .dropdown-child>a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media (prefers-color-scheme: dark) {
    nav a.nav-elt:link,
    nav a.nav-elt:visited {
      color: white;
    }
  }
}


/* Night mode */

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444
  }
  a:link {
    color: #5bf
  }
  a:visited {
    color: #ccf
  }
  nav #hamburger path {
    fill: white;
  }
  #title {
    color: white;
  }
}


/* Contenu principal */

main article h2 {
  margin: 5px 10px 5px 0;
  clear: both;
}

main article h2 a {
  text-decoration: unset;
}

main article .post-date {
  text-align: center;
  margin-top: 5px;
}

main#article-list article .post-date {
  text-align: left;
}

.post-category,
.post-tags {
  font-style: italic;
  line-height: 1.5em;
}

.post-category {
  float: left;
}

.post-category::before {
  content: "Catégorie : ";
}

.post-tags {
  clear: left;
  float: left;
}

@media (min-width: 1000px) {
  .post-tags {
    float: right;
    clear: initial;
  }
}

.post-tags::before {
  content: "Étiquettes : ";
}

main#article-list article {
  margin: 40px 10px 40px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

main#article-list article:hover {
  border-left: 5px solid #444;
}

@media (prefers-color-scheme: dark) {
  main#article-list article:hover {
    border-left: 5px solid white;
  }
}

main#article-list article p:first-of-type {
  clear: both;
}

article img {
  max-width: 100%;
}


/* Barre latérale primaire */

aside#sidebar-primary {}


/* Titre de widget */

aside#sidebar-primary h2 {
  text-align: center;
}


/* Calendrier */

table.smallcalendar {
  width: auto;
  margin: auto;
}

table.smallcalendar caption {
  margin: 10px;
  font-style: italic;
}

table.smallcalendar td {
  text-align: center;
  padding: 10px;
}

table.smallcalendar td[class^=day]:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white
}

table.smallcalendar .day {
  display: inline;
}


/* Footer */

body>footer {
  margin: 20px;
  text-align: center;
}